<app-header></app-header>
<app-menu></app-menu>
<script src="https://kit.fontawesome.com/941eee4760.js" crossorigin="anonymous"></script>
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="border">
                    <button class="btn btn-md btn-outline-primary">
                        <i class="fa fa-user"></i> Ajouter Foyer
                    </button>
                  </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des Foyers</h5>
                     

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                           
                            <thead>
                                <tr>
                                    <th>
                                        Id Foyer
                                    </th>
                                    <th>Nom Foyer</th>
                                    <th>Capacité Foyer</th>
                                    <th>Nom Bloc</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let foyer of foyers">
                                <td>{{ foyer.idFoyer }}</td>
                                <td>{{ foyer.nomFoyer }}</td>
                                <td>{{ foyer.capaciteFoyer }}</td>
                                <td>{{ foyer.nomBloc }}</td>
                              
                               
                               

                                  <td>
                                    <a style="color:red" (click)="supprimerFoyer(foyer.idFoyer)"> <i class="fa-solid fa-trash ms-4"></i></a>
                                    <a style="color:blue">
                                        <i class="fa-solid fa-pen-to-square ms-4"></i>
                                      </a>
                                    
                                    </td>
                               
                              </tr>
                             
                            </tbody>
                           
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>
             
                   
               

            </div>
        </div>
      
    </section>
</main>
<app-footer></app-footer>
