<!-- Default form login -->
<form class="text-center border border-light p-5" th:action="{/@ajouter-bloc}" method="post">
    <p class="h4 mb-4">Ajouter un Foyer</p>
    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Nom Foyer">
    <!-- Password -->
    <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Capacité">
    <div class="d-flex justify-content-around">
      
      
    </div>
   
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Ajouter un Foyer</button>
   
    
    
  </form>
  <!-- Default form login -->