<form (ngSubmit)="ajouterFoyer()" class="form-control" ngModelOptions="{standalone: true}">

  <div class="form-group">
    <label for="nomFoyer">Nom Foyer</label>
   
    <input type="text" [(ngModel)]="nouveauFoyer.nomFoyer" [ngModelOptions]="{standalone: true}" class="form-control" id="nomFoyer" placeholder="Entrer le nom du Foyer">

  </div>
  <div class="form-group">
    <label for="capaciteFoyer">Capacité du Foyer</label>
    <input type="text" [(ngModel)]="nouveauFoyer.capaciteFoyer" [ngModelOptions]="{standalone: true}"  class="form-control" id="capaciteFoyer" placeholder="Entrer la capacité du foyer">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter Foyer</button>
</form>


