<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Ajouter Universite</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-12">
                  <label for="inputName5" class="form-label">nom d'universite : </label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                <div class="col-md-6">
                  <label for="inputAddres5s" class="form-label">Addresse :</label>
                  <input type="text" class="form-control" id="inputAddres5s">
                </div>
                <div class="col-md-12">
                  <label for="inputFoyer" class="form-label">Foyer :</label>
                  <select id="inputFoyer" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          
</div>
</main>
<app-footer></app-footer>