<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Liste des universites</h5>
  
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>
                        <b>Id Universite</b>
                      </th>
                      <th>Nom universite</th>
                      <th>Adresse</th>
                      <th>Foyer</th>
                    </tr>
                  </thead>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
    </section>

</main>
<app-footer></app-footer>